<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="third-party-log-level">DEBUG</Property>
        <Property name="logFileName">mdc-server</Property>
        <Property name="logFileBaseDirectory">/var/log/mdc-server</Property>
    </Properties>

    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <!--<PatternLayout pattern="%d{ISO8601} %p [%t] %c{1} [%M] - %m%throwable{short}%n"/>-->
            <PatternLayout pattern="%d{ABSOLUTE} %5p %40.40c%4L - %m%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="de.tammon.dev.mdc.server" level="trace" />

        <Logger name="org.springframework.core" level="${third-party-log-level}" />

        <Logger name="org.springframework.data.mongodb" level="${third-party-log-level}" />

        <Logger name="org.springframework.beans" level="${third-party-log-level}" />

        <Logger name="org.springframework.context" level="${third-party-log-level}" />

        <Logger name="org.springframework.http" level="${third-party-log-level}" />

        <Logger name="org.springframework.web" level="${third-party-log-level}" />

        <Logger name="org.springframework.security" level="${third-party-log-level}" />

        <Logger name="org.thymeleaf.TemplateEngine" level="${third-party-log-level}" />

        <Root level="error">
            <AppenderRef ref="console"/>
            <!--AppenderRef ref="file-log"/-->
        </Root>
    </Loggers>
</Configuration>